@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		transition: all 0.2s ease-in;
	}
}

#cta {
	background-image: url(/dist/assets/bg-boost-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* ===== Hamburger Menu ===== */

.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.2s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	content: '';
	position: absolute;
	width: 24px;
	height: 3px;
	top: 0;
	left: 0;
	background: #9c9aa6;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
	transform: translateY(0px);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.ficon:hover {
	transition: 0.2s ease-in;
	filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg) brightness(89%) contrast(85%);
}

.link-container {
	@apply flex w-full flex-col items-center justify-between space-y-4 rounded-lg bg-white px-4 py-6 md:flex-row md:space-y-0;
}

.link-text {
	@apply text-center font-bold text-veryDarkViolet md:text-left;
}

.short-link-wrapper {
	@apply flex flex-col items-center justify-end space-x-8 space-y-2 md:flex-row md:space-y-0;
}

.short-link {
	@apply pl-7 font-bold text-cyan;
}

.copy-button {
	@apply rounded-lg  p-2 px-8 text-white duration-200 odd:bg-darkViolet even:bg-cyan hover:opacity-70 focus:outline-none active:bg-green-700;
}

.active {
	@apply bg-green-700;
}

/* ===== Loading Screen ===== */
/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.loading-screen {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.show {
	display: block;
}

/* Transparent Overlay */
.loading-screen:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
	background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading-screen:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading-screen:not(:required):after {
	content: '';
	display: block;
	font-size: 14px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: loading-screen 150ms infinite linear;
	-moz-animation: loading-screen 150ms infinite linear;
	-ms-animation: loading-screen 150ms infinite linear;
	-o-animation: loading-screen 150ms infinite linear;
	animation: loading-screen 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes loading-screen {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes loading-screen {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes loading-screen {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loading-screen {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
